* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-black: #000000;
  --color-aqua: aqua;
  --color-white: #fff;
  --color-light: #eaf6ff;
  --color-light-green: #66e187;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1436px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  padding: 10px 0;
}
.header-nav {
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--color-black);
}
nav li {
  color: var(--color-black);
}

.header-menu {
  display: flex;
  gap: 64px;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
a:hover {
  color: var(--color-aqua);
}

.background-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 272px 0;
}
.parag {
  padding: 20px;
  font-size: 28px;
}
.big-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
h1 {
  color: var(--color-white);
  font-size: 32px;
}
.cucumer-h {
  height: 300px;
  border-radius: 20px;
  background-color: var(--color-light);
  margin: 0 auto;
  margin-top: 162px;
}
.other-section {
  display: flex;
  flex-direction: row;
}
.ogir {
  height: 300px;
  width: 220px;
  margin-left: 20px;
  margin-top: 162px;
}
.button {
  width: 215px;
  height: 81px;
  border: none;
  border-radius: 12px;
  margin-top: 262px;
  margin-left: 222px;
  background-color: var(--color-light-green);
  color: var(--color-light);
}

.footer {
  display: flex;
  margin: 0 auto;
}
